.logistics {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #2b2b2b;
  padding: 2rem;
  max-width: 35rem;
  width: 80%;
  margin: 1rem auto;
  color: #d5eeeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.list {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logistics address {
  white-space: pre;
}

@media (min-width: 768px) {
  .logistics {
    flex-direction: row;
  }

  .list {
    margin: 0;
    align-items: flex-start;
  }

  .image {
    width: 12rem;
    height: 12rem;
  }

  .image img {
    width: 12rem;
    height: 12rem;
  }
}
