.alert {
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 30rem;
  background-color: #a8d3e7;
  color: #38028d;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 6px;
}
